@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P", sans-serif;
  margin: 0;
  padding: 0;
  color: #eee;
  box-sizing: border-box;
}
.background {
  height: 100vh;
  width: 100vw;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.potter {
  height: 100px;
  width: 130px;
  position: fixed;
  top: 40vh;
  left: 30vw;
  z-index: 100;
}

.pipes {
  position: fixed;
  top: 40vh;
  left: 100vw;
  height: 70vh;
  width: 6vw;
  /* border: 5px solid black; */
  background-repeat: no-repeat;
  background-size: cover;
  /* object-fit: cover; */
}
.pipe_ceil {
  background-image: url(/images/toppipe.png);
}
.pipe_floor {
  background-image: url(/images/botpipe.png);
}

.message {
  position: absolute;
  z-index: 1;
  color: black;
  top: 30%;
  left: 50%;
  font-size: 48px;
  transform: translate(-50%, -50%);
  text-align: center;
  /* Container styles */
  background: lightgray;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5%;
}

.score,
.best-score {
  position: fixed;
  z-index: 10;
  height: 10vh;
  font-size: 52px;
  font-weight: 100;
  /* color: white; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  top: 0;
  left: 0;
  margin: 10px;
}

.score_val,
.best-score_val {
  color: gold;
  font-weight: bold;
}

.best-score,
.best-score_val {
  top: 5rem;
  font-size: 42px;
}

@media only screen and (max-width: 1080px) {
  .message {
    font-size: 50px;
    top: 50%;
    white-space: nowrap;
  }
  .score,
  .best-score {
    font-size: 8vh;
  }
  .potter {
    width: 120px;
    height: 90px;
  }
  .pipes {
    width: 14vw;
  }
}

.hidden {
  display: none;
}